<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row section section-margin">
    <div class="col-sm-8">
      <div class="row">
        <!-- <h1 class="home-post-title">user.name</h1> -->
      </div>
    </div>
  </div>



<!-- help me -->










  <% if current_user == @user%>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %> |
  <% end %>
  <%= link_to 'Back', users_path, class: "btn btn-primary" %>
</div>
